.header{
	display : block;
	text-align:center;
	background: deepskyblue;
}

.annonce{
	display:block;
	border:solid black 1px;
	padding: 5px;
}

a{
	text-decoration:none;
}

a:visited{
	color: black;
}