<link rel="stylesheet" href="../public/scss/lebonappart.css">



Superficie min: <input type = "text" name="superficie_min">
Superficie max: <input type = "text" name="superficie_max">
Location : <input type="checkbox" name="location">
Prix min: <input type="text" name="prix_min">
Prix max: <input type="text" name="prix_max">

<input type = "submit" name="recherche" value="Rechercher">
</form>

<form action="../public/index.php/ajout_annonce" method="POST">
<input type="submit" name="ajout_annonce" value="+ ajouter une annonce">
</form>	
<h2>Liste des annonces</h2>


{% for logement in logements %}
<a href={{'../public/index.php/annonce/'~ logement.id_logement}}>
<div class="annonce">
<h2>{{logement.titre|e}}</h2>
  
  {{logement.description}}

<br>
  {{logement.loyer}} euros
<br>
  {{logement.nb_pieces}} pieces

</div>
</a>

{% endfor %}


