<h2>Publier une annonce</h2>

<form action="../index.php/confirm_ajout" method="POST">

Ville : <input type='text' name = 'n_ville' required>

Quartier : <input type='text' name = 'n_quartier' required>

Numero dans le quartier : <input type='text' name = 'n_rue' required>

Superficie :  <input type='text' name = 'n_superficie' required>

Location : <input type='checkbox' name = 'n_location'>

Prix vente (si location prix loyer): <input type='text' name = 'n_prix'>

Type:
	<select name="n_type" required>
		{% for type_logement in type_logements %}
			<option value={{type_logement.type}}>{{type_logement.type}}</option>
		{% endfor %}
	</select>


Nombre de pieces : <input type='text' name = 'n_piece' required>

Titre : <input type='text' name = 'n_titre' required>

Description : <textarea name='n_description' rows=4 cols=40>Description du logement</textarea>

Mot de passe de l'annonce : <input type="password" name='n_password' required>

<input type="submit" name="valider" value="Poster l'annonce">


</form>