<h2>Detail de l'annonce</h2>



{% for logement in logements %}
<div>
<h2>{{logement.titre|e}}</h2>
  
  {{logement.description}}

<br>
  {{logement.loyer}} euros
<br>
  Superfice : {{logement.superficie}} m2
  <br>
  {% if logement.location == 1 %}
  Loyer : {{logement.loyer}} 
  {% endif %}
  {% if logement.location == 0 %}
  Prix : {{logement.prix}} 
  {% endif %}
  <br>
  Nombre de pieces : {{logement.nb_pieces}} 
  
<br>
  Contact :
  {{logement.telephone}}
  <br>
  Email :
  {{logement.email}}
</div>


{% endfor %}