
<link rel="stylesheet" href="../public/scss/lebonappart.css">

<h1>Liste des annonces</h1>



{{logement.id}}

{% for logement in logements %}
  {{logement.id_logement|e}}


{% endfor %}



{% for logement in logements %}
<div>
<h2>{{logement.titre|e}}</h2>
  
  {{logement.description}}

<br>
  {{logement.loyer}} euros
<br>
  {{logement.nb_pieces}} pieces

</div>


{% endfor %}