Quartier:
	<select name='quartier'>
			<option value="vide">(vide)</option>
		{% for quartier in quartiers %}
			<option value={{quartier.nom_quartier}}>rue {{quartier.nom_quartier}}</option>
		{% endfor %}
	</select>
		
