Recherche de logement

<form action="../public/index.php/logement/recherche" method="GET">
	Ville:
	<select name="ville" required>
		{% for ville in villes %}
			<option value={{ville.nom_ville}}>{{ville.nom_ville}}</option>
		{% endfor %}
	</select>



